.navbar-container {
  .menu {
    display: flex;
    gap: calc(var(--padding-base) * 12);
    list-style: none;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .nav {
    padding: calc(var(--padding-base) * 18) calc(var(--padding-base) * 41);
  }
}
