.navbar-container {
  display: inline-flex;
  padding: calc(var(--padding-base) * 5) calc(var(--padding-base) * 10);

  .nav {
    display: flex;
    gap: calc(var(--gap-base) * 6);

    a {
      text-decoration: none;
      color: inherit;
      align-content: center;
    }
  }
}
