:root {
  --theme-color-primary-900: #4F1650;
  --theme-color-primary-700: #8B268D;
  --theme-color-primary-500: #D157D3;
  --theme-color-primary-400: #DD86DF;
  --theme-color-primary-300: #EDC0EE;
  --theme-color-primary-200: #F4D6F5;
  --theme-color-primary-100: #F9EBFA;

  --theme-color-common-900: #1F1B20;
  --theme-color-common-800: #342E34;
  --theme-color-common-700: #6D626D;
  --theme-color-common-600: #8E848E;
  --theme-color-common-500: #B8B3B8;
  --theme-color-common-400: #D3D1D3;
  --theme-color-common-300: #E8E7E8;
  --theme-color-common-200: #F5F4F5;
  --theme-color-common-100: #FCFBFC;

  --color-danger-primary: #EF7679;
  --color-danger-secondary: #E04F52;
  --color-danger-dark: #D1373A;
  --color-success-primary: #6FCF97;
  --color-success-secondary: #4BB17D;
  --color-success-dark: #2E8B5E;

  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(17, 17, 17, 1);

  --text-color-primary: var(--theme-color-primary-900);

  --padding-base: 16px;
  --padding-base-half: calc(var(--padding-base) / 2);
  --padding-base-quarter: calc(var(--padding-base) / 4);

  --gap-base: 8px;
  --gap-base-half: calc(var(--gap-base) / 2);
  --gap-base-quarter: calc(var(--gap-base) / 4);

  --text-size-base: 14px;
  --text-size-small: 10px;
  --text-size-large: 20px;

  --text-heading-size: 96px;
}

@media (max-width: 768px) {
  :root {
    --padding-base: 4px;
    --gap-base: 6px;
    --text-heading-size: 46px;
  }
}
