@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"),
  url("./fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

html, body, #root, #root>div {
  height: 100%
}

html {
  background-color: var(--theme-color-primary-100);
  font-size: 14px;
}

body {
  font-family: 'GilroyBold';
  letter-spacing: 0.05em;
  color: var(--text-color-primary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
