html, body, #root, #root>div {
  height: 100%
}

html {
  background-color: var(--theme-color-primary-100);
  font-size: 14px;
}

body {
  font-family: 'Gill Sans';
  letter-spacing: 0.05em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
